<html>
<head>
    <title>OSU - CS 340 - Introduction to Databases - Flask Demo Project</title>
</head>
<body>
    <h1>CS 340 - Introduction to Databases</h1>
    <p>Flask app that connects to a MySQL database.</p>
    <p><a href="/bsg-people">List of people</a> from MySQL database</p>  
</body>
</html>